body{
    background: lightgrey;
    margin: 0;
}
header{
    background: white;
    display: block;
}

div.post{
    background: white;
}
div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 5px;
}
div.container{
    width: 600px;
    margin: auto;
}
div.postheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}